<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"></link>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<title>Participantes</title>
</head>
<body>
	<div class="container">
		<br/>
		<br/>
		<form action="salvar" method="post">
		    <div class="form-group">
		        <label for="nome">Nome</label>
		        <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome do participante" />
		    </div>
		    <div class="form-group">
		        <label for="number">Número</label>
		        <input type="number" class="form-control" id="numero" name="numero" placeholder="Número do participante" />
		    </div>
		    <div class="form-group">
		        <label for="email">Email</label>
		        <input type="email" class="form-control" id="email" name="email" placeholder="Email" />
		    </div>
		    <button type="submit" class="btn btn-success">Adicionar</button>
		</form>
		
		<hr/>
		<br/>
		<h3>Lista de participantes</h3>
		
		<div id="listaDeParticipantes">
		    <table class="table table-hover">
		        <thead>
		        <tr>
		            <th>Nome</th>
		            <th>Numero</th>
		        </tr>
		        </thead>
		        <tr th:each="participante : ${participantes}">
		            <td> <span th:text="${participante.nome}"></span> </td>
		            <td> <span th:text="${participante.numero}"></span> </td>
		        </tr>
		    </table>
		</div>
		
	</div>
</body>
</html>